{%- set isFi= layout == 'home-fi' -%}

<title>{%- if title -%}{{ title }} – {{ site.title }}{%- else -%}{{ site.title }} – {{ site.description }}{%- endif -%}</title>
{%- set absolutePageUrl -%}{{ page.url | url | absoluteUrl(site.url) }}{%- endset -%}
{%- if isFi -%}
<meta name="description" content="{{ autoDescription or site.descriptionFi }}">
{%- else -%}
<meta name="description" content="{{ autoDescription or site.descriptionEn }}">
{%- endif -%}

{# Open Graph #}
{%- if isFi -%}
<meta property="og:title" content="{%- if title -%}{{ title }} – {{ site.titleFi }}{%- else -%}{{ site.title-fu }} – {{ site.descriptionFi }}{%- endif -%}">
<meta property="og:description" content="{{ autoDescription or site.descriptionFi }}">
<meta property="og:locale" content="{{ site.localeFi }}">
{%- else -%}
<meta property="og:title" content="{%- if title -%}{{ title }} – {{ site.title }}{%- else -%}{{ site.title }} – {{ site.description }}{%- endif -%}">
<meta property="og:description" content="{{ excerpt or autoDescription or site.description }}">
<meta property="og:locale" content="{{ site.localeEn }}">
{%- endif -%}
<meta property="og:url" content="{{ absolutePageUrl }}">
<meta property="og:image" content="{%- if cover -%}{{ cover | url }}{%- else -%}{{ site.coverjpg | url | absoluteUrl(site.url) }}{%- endif -%}">

<meta property="og:type" content="profile">
<meta property="og:title" content="Juha Liikala">
<meta property="og:url" content="https://juhaliikala.dev/">
<meta property="og:image" content="{{ site.url }}{{ author.authoravatarlarge }}">
<meta property="profile:first_name" content="Juha">
<meta property="profile:last_name" content="Liikala">

{# General #}
<meta name="author" content="{{ author.name }}">
<meta property="og:site_name" content="{{ site.title }}">
<meta property="og:locale" content="{{ site.locale }}">

{# JSON LD #}
{%- if isFi -%}
<script type="application/ld+json">
  {
    "name":"{{ site.titleFi }}",
    "description":"{{ site.descriptionFi }}",
    "author": {
      "@type":"Person",
      "name":"{{ author.name }}"
    },
    "@type":"WebSite",
    "url":"{{ site.url }}",
    "image":"{{ site.coverjpg | url | absoluteUrl(site.url) }}",
    "headline":"{{ site.titleFi }}",
    "sameAs":[
      "{{ author.social.linkedin.url }}",
       "{{ author.social.github.url }}",
    ],
    "@context":"http://schema.org"
  }
</script>
{%- else -%}
<script type="application/ld+json">
  {
    "name":"{{ site.titleEn }}",
    "description":"{{ site.descriptionEn }}",
    "author": {
      "@type":"Person",
      "name":"{{ author.name }}"
    },
    "@type":"WebSite",
    "url":"{{ site.url }}",
    "image":"{{ site.coverjpg | url | absoluteUrl(site.url) }}",
    "headline":"{{ site.titleEn }}",
    "sameAs":[
      "{{ author.social.linkedin.url }}",
       "{{ author.social.github.url }}",
    ],
    "@context":"http://schema.org"
  }
</script>
{%- endif -%}
